@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, sans-serif;
    @apply h-full w-full min-h-screen
  }
  body {
    @apply h-full w-full min-h-screen
  }
}

div,
span,
button,
input,
textarea,
a,
p,
li,
ul,
ol,
label,
h1,
h2,
h3,
h4,
p {
  @apply transition duration-300 ease-out;
}

h1,
.heading-1 {
  @apply text-5xl font-bold;
}

h2,
.heading-2 {
  @apply x-large-text font-bold;
}

h3,
.heading-3 {
  @apply x-large-text;
}

h4,
.heading-4 {
  @apply large-text font-medium;
}

.x-small-text {
  @apply text-sm;
}

.small-text {
  @apply text-base;
}

.medium-text {
  @apply text-lg;
}

.large-text {
  @apply text-xl;
}

.x-large-text {
  @apply text-2xl;
}

p,
input,
textarea,
a,
.nav-link {
  @apply small-text font-light max-w-[52ch];
}

label p {
  @apply small-text font-medium px-2 capitalize;
}

input::placeholder {
  @apply small-text text-black/50;
}

label,
a,
.nav-link {
  @apply font-medium;
}

a,
.nav-link,
button,
button p {
  @apply medium-text font-medium capitalize text-center select-none;
}

/* typicons */

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?z3yxp5');
  src:  url('/fonts/icomoon.eot?z3yxp5#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?z3yxp5') format('truetype'),
    url('/fonts/icomoon.woff?z3yxp5') format('woff'),
    url('/fonts/icomoon.svg?z3yxp5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e93c";
}
.icon-bed:before {
  content: "\e953";
}
.icon-menu:before {
  content: "\e954";
}
.icon-edit:before {
  content: "\e955";
}
.icon-file:before {
  content: "\e956";
}
.icon-attachment:before {
  content: "\e957";
}
.icon-subscription:before {
  content: "\e958";
}
.icon-book:before {
  content: "\e94f";
}
.icon-flash-closed:before {
  content: "\e950";
}
.icon-flash:before {
  content: "\e951";
}
.icon-refresh:before {
  content: "\e952";
}
.icon-mobile-phone:before {
  content: "\e94e";
}
.icon-sliders:before {
  content: "\e94d";
}
.icon-reports:before {
  content: "\e900";
}
.icon-phone-icon:before {
  content: "\e901";
}
.icon-mail-icon:before {
  content: "\e902";
}
.icon-switch:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e905";
}
.icon-marketing:before {
  content: "\e907";
}
.icon-target:before {
  content: "\e908";
}
.icon-gift:before {
  content: "\e909";
}
.icon-thumbs-down:before {
  content: "\e90a";
}
.icon-thumbs-up:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-link-external:before {
  content: "\e910";
}
.icon-log-out:before {
  content: "\e911";
}
.icon-help:before {
  content: "\e912";
}
.icon-bundle:before {
  content: "\e913";
}
.icon-card:before {
  content: "\e914";
}
.icon-flag:before {
  content: "\e915";
}
.icon-dots:before {
  content: "\e916";
}
.icon-money:before {
  content: "\e917";
}
.icon-heart-filled:before {
  content: "\e918";
}
.icon-heart:before {
  content: "\e919";
}
.icon-session:before {
  content: "\e91a";
}
.icon-share:before {
  content: "\e91b";
}
.icon-cash:before {
  content: "\e91c";
}
.icon-settings:before {
  content: "\e91d";
}
.icon-info:before {
  content: "\e91e";
}
.icon-upgrade:before {
  content: "\e91f";
}
.icon-tokens:before {
  content: "\e920";
}
.icon-wifi:before {
  content: "\e921";
}
.icon-copy:before {
  content: "\e922";
}
.icon-filter:before {
  content: "\e923";
}
.icon-sort:before {
  content: "\e924";
}
.icon-file-upload:before {
  content: "\e925";
}
.icon-star-fill:before {
  content: "\e926";
}
.icon-star-half-fill:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-Ruu:before {
  content: "\e929";
}
.icon-chat:before {
  content: "\e92a";
}
.icon-discount:before {
  content: "\e92b";
}
.icon-home:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e92e";
}
.icon-calendar-x:before {
  content: "\e92f";
}
.icon-calendar:before {
  content: "\e930";
}
.icon-download:before {
  content: "\e931";
}
.icon-check-double:before {
  content: "\e932";
}
.icon-hide-pass:before {
  content: "\e933";
}
.icon-show-pass:before {
  content: "\e934";
}
.icon-alert:before {
  content: "\e935";
}
.icon-search:before {
  content: "\e936";
}
.icon-close:before {
  content: "\e937";
}
.icon-reset:before {
  content: "\e938";
}
.icon-check:before {
  content: "\e939";
}
.icon-check-circle:before {
  content: "\e93a";
}
.icon-send:before {
  content: "\e93b";
}
.icon-image:before {
  content: "\e93d";
}
.icon-camera:before {
  content: "\e93e";
}
.icon-voice:before {
  content: "\e93f";
}
.icon-minus-circle:before {
  content: "\e940";
}
.icon-plus-circle:before {
  content: "\e941";
}
.icon-bookmark-1:before {
  content: "\e942";
}
.icon-bookmark:before {
  content: "\e943";
}
.icon-trash:before {
  content: "\e944";
}
.icon-chevron-up:before {
  content: "\e945";
}
.icon-chevron-right:before {
  content: "\e946";
}
.icon-chevron-left:before {
  content: "\e947";
}
.icon-chevron-down:before {
  content: "\e948";
}
.icon-arrow-up:before {
  content: "\e949";
}
.icon-arrow-right:before {
  content: "\e94a";
}
.icon-arrow-left:before {
  content: "\e94b";
}
.icon-arrow-down:before {
  content: "\e94c";
}
.icon-user:before {
  content: "\e92d";
}
.icon-globe:before {
  content: "\e906";
}
